body{
    margin:0;
    background:#efefef;
    font-family:Georgia, serif;
}

.page{
    width:950px;
    min-height:1400px;
    margin:40px auto;
    background:white;
    padding:50px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    display:flex;
    flex-direction:column;
    page-break-after:always;
}

.grow{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.edition-title{
    text-align:center;
    border-bottom:3px solid black;
    padding-bottom:12px;
    margin-bottom:30px;
}

h1{ margin:0; font-size:46px; }

.page-number{
    text-align:right;
    font-size:14px;
    margin-top:30px;
}

.big-title{
    font-size:34px;
    font-weight:bold;
    margin-bottom:15px;
    text-transform:uppercase;
}

.small-title{
    font-size:20px;
    font-weight:bold;
    margin:12px 0;
    text-transform:uppercase;
}

.text{
    font-size:17px;
    text-align:justify;
    line-height:1.45;
    margin-bottom:18px;
}

.red-box{
    width:100%;
    height:180px;
    margin:18px 0;
    border:6px solid #b30000;
    background-color:rgba(255,255,255,0.8);
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.red-box img{
    max-width:100%;
    max-height:100%;
    object-fit:cover;
}

.columns{
    display:flex;
    gap:25px;
    margin-bottom:20px;
}

.col{ flex:1; }
